#mainContainer{
    width: 850px;
    background-color: #B0C4DE;
    margin-left: 300px;
    padding: 12px;
}
#linkOne{
    width: 200px;
    margin-left: 80px;
}
#linkTwo{
    width: 200px;
    margin-left: 80px;;

}
#linkThree{
    width: 200px;
    margin-left: 80px;
}
#linkFour{
    width: 200px;
    margin-left: 80px;
}